@media screen and (max-width: 768px) {
  html {
    line-height: 1;
  }
  body {
    font-family: Noto Sans JP, Viga;
  }
  img {
    height: auto;
    vertical-align: middle;
  }
  header .header_pc {
    display: none;
  }
  header .header_sp {
    height: 48px;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  header .header_inner {
    display: flex;
    justify-content: space-between;
  }
  header .header_inner.open {
    background-color: #FAF7F1;
  }
  header .logo_wrap {
    position: relative;
    width: 154px;
    height: 40px;
    margin: 6px 12px;
  }
  header .header_logo {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  header .logo_default {
    opacity: 1;
  }
  header .logo_open {
    opacity: 0;
  }
  header .header_inner.open .logo_default {
    opacity: 0;
  }
  header .header_inner.open .logo_open {
    opacity: 1;
  }
  header .button_wrap button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
  }
  header .hm_button {
    width: 58px;
    height: 51px;
  }
  header .hm_btn {
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header .hm_btnLine {
    display: block;
    height: 2px;
    background: #FFFFFF;
    border-radius: 2px;
    transition: 0.3s;
  }
  header .hm_button.open .hm_btnLine {
    background: #000000;
  }
  header .hm_button.open .hm_btnLine:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  header .hm_button.open .hm_btnLine:nth-child(2) {
    opacity: 0;
  }
  header .hm_button.open .hm_btnLine:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  header .button_txt {
    font-size: 10px;
    margin-top: 6px;
    color: #FFFFFF;
  }
  header .hm_button.open .button_txt {
    color: #000000;
  }
  header .hm_page {
    visibility: hidden;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: 51px;
    background-color: #FAF7F1;
  }
  header .nav_menu {
    line-height: 1.3;
    padding: 0 12px;
  }
  header .nav_item {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid;
    padding: 13px 0;
  }
  header .nav_item span {
    font-size: 12px;
    font-weight: bold;
  }
  header .Button_wrap {
    margin: 53px 12px 115px;
  }
  header .button1 {
    background-color: #000;
    margin-bottom: 13px;
    width: 248px;
    height: 42px;
  }
  header .button2 {
    background-color: #AFA86F;
    width: 248px;
    height: 42px;
  }
  header .Button_txt {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
  }
  header .hm_page.open {
    visibility: visible;
    opacity: 1;
    display: block;
    width: 100%;
    height: 100vh;
  }
  .mv .mv_img {
    background-image: url(./img/mv_sp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    position: relative;
    height: 177vw;
  }
  .mv .mv_txtArea {
    position: absolute;
    top: 43%;
    left: 0;
  }
  .mv .mv_title {
    font-size: 48px;
    line-height: 1.3;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2509803922);
    margin-left: 12px;
  }
  .mv .subtitle {
    background: linear-gradient(303deg, transparent 20px, #000 20px);
    margin: 18px 0 31px;
  }
  .mv .sub_txt {
    font-size: 12px;
    font-weight: bold;
    padding: 9px 31px 9px 10px;
    color: #FFFFFF;
  }
  .mv .newsArea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 12px;
  }
  .mv .news_wrap1 {
    width: 52px;
    height: 48px;
    background-color: #000;
    border-radius: 9999px 0 0 9999px;
  }
  .mv .news_txt1 {
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    padding: 19px 12px;
  }
  .mv .news_wrap2 {
    width: 299px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #000;
    border-radius: 0 9999px 9999px 0;
  }
  .mv .news_txt2 {
    font-size: 12px;
    color: #000;
    padding: 10px 10px;
  }
  .about .swiper {
    width: 100%;
    height: 319px;
    overflow: hidden;
    padding: 41px 0;
    position: relative;
  }
  .about .swiper-wrapper {
    height: auto;
  }
  .about .swiper-slide {
    width: 271px;
    height: 211px;
  }
  .about .swiper-slide:nth-child(even) {
    margin-top: 27px;
  }
  .about .about_img {
    width: 271px;
    border-radius: 24%;
  }
  .about .title_wrap {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  .about .txt_wrap1 {
    width: 334px;
    padding: 7px 11px;
    background-color: #FFFFFF;
    margin-bottom: 8px;
  }
  .about .txt_wrap2 {
    width: 310px;
    padding: 7px 11px;
    background-color: #FFFFFF;
    margin-left: 12px;
  }
  .about .title_txt {
    font-size: 24px;
    font-weight: bold;
  }
  .about .about_desc {
    padding: 48px 8px 0;
    position: relative;
    background-image: url(./img/about_map.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .about .desc_txt {
    font-size: 18px;
    font-weight: bold;
    line-height: 2.3;
    text-align: center;
  }
  .about .about_desc .desc_txt:nth-of-type(2) {
    margin-top: 39px;
  }
  .about .about_button {
    display: flex;
    justify-content: center;
    width: 277px;
    height: 62px;
    position: relative;
    margin: 39px auto 71px;
    border: 1px solid;
    text-align: center;
  }
  .about .button_txt {
    font-size: 16px;
    font-weight: 400;
  }
  .about .button_arrow {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-17px, 23px);
  }
  .staff .section_title {
    font-size: 32px;
    font-weight: 700;
    margin-left: 17px;
    position: relative;
  }
  .staff .section_title::after {
    content: "MEMBER";
    position: absolute;
    top: -36px;
    left: 0;
    font-size: 80px;
    font-weight: 400;
    color: rgba(151, 151, 151, 0.1);
  }
  .staff .section_title span {
    border-bottom: 1px solid;
  }
  .staff .staff_txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 43px;
    margin-bottom: 50px;
    padding: 0 17px;
  }
  .staff .swiper {
    width: 100%;
    height: 415px;
    overflow: hidden;
  }
  .staff .swiper-wrapper {
    height: auto;
  }
  .staff .swiper-slide {
    width: 246px;
    position: relative;
  }
  .staff .swiper-slide:nth-child(even) {
    margin-top: 25px;
  }
  .staff .staff_desc {
    position: absolute;
    top: 85%;
    left: 0;
  }
  .staff .staff_img {
    width: 246px;
    height: 311px;
    border-radius: 25px;
  }
  .staff .desc_txt {
    font-size: 16px;
    font-weight: bold;
    padding: 7px;
    background-color: #AFA86F;
  }
  .staff .swiper-slide .desc_txt:nth-of-type(2) {
    margin-top: 6px;
  }
  .staff .carry_txt {
    font-size: 12px;
    font-weight: bold;
    margin-top: 13px;
  }
  .staff .name_txt {
    font-size: 20px;
    font-weight: bold;
    margin-top: 14px;
  }
  .staff .staff_button {
    width: 277px;
    height: 62px;
    position: relative;
    margin: 64px auto 95px;
    border: 1px solid;
    display: flex;
    justify-content: center;
  }
  .staff .button_txt {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  .staff .button_arrow {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-17px, 23px);
  }
  .staff .staff .arrow_button {
    display: none;
  }
  .benefits .benefits_inner {
    padding: 0 17px;
  }
  .benefits .section_title {
    font-size: 32px;
    font-weight: 700;
  }
  .benefits .section_title span {
    border-bottom: 1px solid;
  }
  .benefits .benefits_desc {
    font-size: 16px;
    font-weight: 400;
    margin: 43px 0 51px;
    line-height: 1.5;
  }
  .benefits .img_area {
    width: 251px;
    height: 251px;
    background-color: #FAF7F1;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
  }
  .benefits .list_wrap:nth-of-type(1) .img_area::after {
    content: "Traning And Career";
    writing-mode: vertical-rl;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 9%;
    right: 4%;
  }
  .benefits .benefits_img1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .benefits .arrow_button {
    width: 42px;
    height: 42px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 17%;
    right: 5%;
  }
  .benefits .button_arrow {
    display: flex;
    margin: 0 auto;
  }
  .benefits .benefits_img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .benefits .list_wrap:nth-of-type(2) .img_area::after {
    content: "employee benefits";
    writing-mode: vertical-rl;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 9%;
    right: 4%;
  }
  .benefits .arrow_button {
    width: 42px;
    height: 42px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 17%;
    right: 5%;
  }
  .benefits .list_wrap:nth-of-type(2) .arrow_button {
    bottom: 19%;
    right: 3%;
  }
  .benefits .subtitle_area {
    width: 278px;
    height: 38px;
    background-color: #AFA86F;
    display: flex;
    margin: 0 auto;
  }
  .benefits .list_wrap:nth-of-type(1) .subtitle_area {
    position: absolute;
    bottom: 0;
    right: -12px;
  }
  .benefits .list_wrap:nth-of-type(2) .subtitle_area {
    width: 110px;
    height: 38px;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .benefits .subtitle_txt {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 7px;
  }
  .benefits .sub_desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 21px 0 36px;
  }
  .contener {
    background-color: #FAF7F1;
  }
  .blog .blog_inner {
    padding: 0 17px;
  }
  .blog .section_title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 43px;
    padding-top: 78px;
    position: relative;
  }
  .blog .section_title::after {
    content: "BLOG";
    position: absolute;
    top: 49px;
    left: 0;
    font-size: 80px;
    font-weight: 400;
    color: rgba(151, 151, 151, 0.1);
  }
  .blog .blog_txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 43px;
  }
  .blog .blog_item {
    display: flex;
    margin-bottom: 9px;
  }
  .blog .blog_item:last-child {
    margin-bottom: 52px;
  }
  .blog .txt_area {
    padding: 9px 18px 5px;
    background-color: #FFFFFF;
    border-radius: 0 10px 10px 0;
  }
  .blog .memo_wrap {
    display: flex;
    margin-bottom: 9px;
  }
  .blog .memo_txt {
    font-size: 12px;
    font-weight: 400;
    margin-left: 4px;
  }
  .blog .item_txt {
    font-size: 12px;
    font-weight: 400;
  }
  .blog .blog_item .item_txt:nth-of-type(1) {
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 32px;
  }
  .blog .item_txt span {
    border-bottom: 1px solid;
  }
  .blog .blog_button {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 66px;
  }
  .blog .button {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid;
  }
  .blog .button_txt {
    font-size: 16px;
    font-weight: 400;
  }
  .carrer .carrer_inner {
    padding: 0 17px 88px;
  }
  .carrer .section_title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 43px;
    position: relative;
  }
  .carrer .section_title::after {
    content: "RECRUITMENT";
    position: absolute;
    top: -36px;
    left: 0;
    font-size: 80px;
    font-weight: 400;
    color: rgba(151, 151, 151, 0.1);
  }
  .carrer .carrer_txt {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
  }
  .carrer .carrer_button {
    width: 341px;
    height: 86px;
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 0 auto 19px;
  }
  .carrer .carrer_button:last-child {
    margin-bottom: 0;
  }
  .carrer .button_txt {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .carrer .button_arrow {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-17px, 33px);
  }
  footer {
    background-color: #FAF7F1;
  }
  footer .footer_img {
    background: url(./img/footer_img.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 66vw;
  }
  footer .footer_txtArea {
    position: absolute;
    background-color: #FFFFFF;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 343px;
    height: 236px;
    padding: 24px 25px 29px;
  }
  footer .footer_txt {
    font-size: 14px;
    font-weight: bold;
    line-height: 250%;
    margin-bottom: 24px;
    text-align: center;
  }
  footer .footer_button {
    width: 200px;
    height: 54px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #AFA86F;
  }
  footer .button_txt {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  footer .button_arrow {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-17px, 19px);
  }
  footer .footer_list {
    margin: 169px 110px 55px;
    text-align: center;
  }
  footer .footer_item {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  footer .footer_item:last-child {
    margin-bottom: 0;
  }
  footer .logo_wrap {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  footer .footer_logo {
    background: url(./img/footer_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 61px;
    margin: 29px auto 49px;
  }
  footer .copy {
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 769px) {
  html {
    line-height: 1;
  }
  body {
    font-family: Noto Sans JP, Viga;
  }
  img {
    height: auto;
    vertical-align: middle;
  }
  header .header_pc {
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  header .header_sp {
    display: none;
  }
  header .header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header_inner.open {
    background-color: #FAF7F1;
  }
  header .logo_wrap {
    position: relative;
    width: 154px;
    height: 40px;
    margin: 6px 12px;
  }
  header .header_logo {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  header .logo_default {
    opacity: 1;
    margin: 26px 30px 0;
  }
  header .logo_open {
    opacity: 0;
    margin: 26px 30px 0;
  }
  header .header_inner.open .logo_default {
    opacity: 0;
  }
  header .header_inner.open .logo_open {
    opacity: 1;
  }
  header .side_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
  }
  header .side_wrap .button1 {
    width: 126px;
    height: 42px;
  }
  header .side_wrap .button2 {
    width: 126px;
    height: 42px;
  }
  header .button_wrap button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    margin: 0 22px;
  }
  header .hm_button {
    width: 58px;
    height: 51px;
  }
  header .hm_btn {
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header .hm_btnLine {
    display: block;
    height: 2px;
    background: #FFFFFF;
    border-radius: 2px;
    transition: 0.3s;
  }
  header .hm_button.open .hm_btnLine {
    background: #000000;
  }
  header .hm_button.open .hm_btnLine:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  header .hm_button.open .hm_btnLine:nth-child(2) {
    opacity: 0;
  }
  header .hm_button.open .hm_btnLine:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  header .button_txt {
    font-size: 10px;
    margin-top: 6px;
    color: #FFFFFF;
  }
  header .hm_button.open .button_txt {
    color: #000000;
  }
  header .hm_page {
    visibility: hidden;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: 51px;
    background-color: #FAF7F1;
  }
  header .nav_menu {
    line-height: 1.3;
    padding: 0 12px;
  }
  header .nav_item {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid;
    padding: 13px 0;
  }
  header .nav_item span {
    font-size: 12px;
    font-weight: bold;
  }
  header .Button_wrap {
    display: flex;
    justify-content: center;
    gap: 22px;
  }
  header .button1 {
    background-color: #000;
    margin-bottom: 13px;
    width: 248px;
    height: 42px;
  }
  header .button2 {
    background-color: #AFA86F;
    width: 248px;
    height: 42px;
  }
  header .Button_txt {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
  }
  header .hm_page.open {
    visibility: visible;
    opacity: 1;
    display: block;
    width: 100%;
    height: 100vh;
  }
  .mv .mv_img {
    background-image: url(./img/mv_pc.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 57vw;
  }
  .mv .mv_txtArea {
    position: absolute;
    top: 32%;
    left: 0;
  }
  .mv .mv_title {
    font-size: 96px;
    line-height: 1.3;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2509803922);
    margin-left: 66px;
  }
  .mv .subtitle {
    background: linear-gradient(305deg, transparent 639px, #000 20px);
    margin: 86px 0 63px;
  }
  .mv .sub_txt {
    font-size: 24px;
    font-weight: bold;
    padding: 17px 66px;
    color: #FFFFFF;
  }
  .mv .newsArea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 71px;
  }
  .mv .news_wrap1 {
    width: 186px;
    height: 62px;
    background-color: #000;
    border-radius: 9999px 0 0 9999px;
  }
  .mv .news_txt1 {
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    padding: 19px 12px;
  }
  .mv .news_wrap2 {
    width: 1077px;
    height: 62px;
    background-color: #FFFFFF;
    border: 1px solid #000;
    border-radius: 0 9999px 9999px 0;
  }
  .mv .news_txt2 {
    font-size: 16px;
    color: #000;
    padding: 23px 90px;
  }
  .about .swiper {
    width: 100%;
    height: 519px;
    overflow: hidden;
    padding: 41px 0;
    position: relative;
  }
  .about .swiper-wrapper {
    height: auto;
  }
  .about .swiper-slide {
    width: 506px;
    height: 393px;
  }
  .about .swiper-slide:nth-child(even) {
    margin-top: 27px;
  }
  .about .about_img {
    width: 506px;
    border-radius: 24%;
  }
  .about .title_wrap {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  .about .txt_wrap1 {
    width: 542px;
    padding: 7px 11px;
    background-color: #FFFFFF;
    margin-bottom: 8px;
  }
  .about .txt_wrap2 {
    width: 502px;
    padding: 7px 11px;
    background-color: #FFFFFF;
    margin-left: 22px;
  }
  .about .title_txt {
    font-size: 40px;
    font-weight: bold;
  }
  .about .about_desc {
    padding: 48px 8px 0;
    position: relative;
    background-image: url(./img/about_map.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .about .desc_txt {
    font-size: 36px;
    font-weight: bold;
    line-height: 2.3;
    text-align: center;
  }
  .about .about_desc .desc_txt:nth-of-type(2) {
    margin-top: 39px;
  }
  .about .about_button {
    display: flex;
    justify-content: center;
    width: 355px;
    height: 80px;
    position: relative;
    margin: 39px auto 71px;
    border: 1px solid;
    text-align: center;
  }
  .about .button_txt {
    font-size: 20px;
    font-weight: 400;
  }
  .about .button_arrow {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-17px, 23px);
  }
  .staff .staff_inner {
    padding: 0 242px;
    position: relative;
  }
  .staff .section_title {
    font-size: 52px;
    font-weight: 700;
    margin-left: 17px;
    position: relative;
  }
  .staff .section_title::after {
    content: "MEMBER";
    position: absolute;
    top: -51px;
    left: -183px;
    font-size: 136px;
    font-weight: 400;
    color: rgba(151, 151, 151, 0.1);
  }
  .staff .section_title span {
    border-bottom: 1px solid;
  }
  .staff .staff_txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 43px;
    margin-bottom: 50px;
    padding: 0 17px;
  }
  .staff .swiper {
    width: 100%;
    height: 415px;
    overflow: hidden;
  }
  .staff .swiper-wrapper {
    height: auto;
  }
  .staff .swiper-slide {
    width: 246px;
    position: relative;
  }
  .staff .swiper-slide:nth-child(even) {
    margin-top: 25px;
  }
  .staff .staff_desc {
    position: absolute;
    top: 85%;
    left: 0;
  }
  .staff .staff_img {
    width: 246px;
    height: 311px;
    border-radius: 25px;
  }
  .staff .desc_txt {
    font-size: 16px;
    font-weight: bold;
    padding: 7px;
    background-color: #AFA86F;
  }
  .staff .swiper-slide .desc_txt:nth-of-type(2) {
    margin-top: 6px;
  }
  .staff .carry_txt {
    font-size: 12px;
    font-weight: bold;
    margin-top: 13px;
  }
  .staff .name_txt {
    font-size: 20px;
    font-weight: bold;
    margin-top: 14px;
  }
  .staff .staff_button {
    width: 355px;
    height: 80px;
    position: relative;
    margin: 64px auto 63px;
    border: 1px solid;
    display: flex;
    justify-content: center;
  }
  .staff .button_txt {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  .staff .button_arrow {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-17px, 30px);
  }
  .staff .arrow_wrap {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 20px;
    margin-right: 227px;
  }
  .staff .arrow_button {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    bottom: 17%;
    right: 5%;
    border: 1px solid;
  }
  .staff .arrow_button .arrow_img {
    display: flex;
    margin: 0 auto;
  }
  .benefits .benefits_inner {
    padding: 0 242px;
  }
  .benefits .section_title {
    font-size: 52px;
    font-weight: 700;
    text-align: right;
    margin-right: 98px;
    position: relative;
  }
  .benefits .section_title::after {
    content: "BENEFITS";
    position: absolute;
    top: 32px;
    left: 191px;
    font-size: 136px;
    font-weight: 400;
    color: rgba(151, 151, 151, 0.1);
  }
  .benefits .section_title span {
    border-bottom: 1px solid;
  }
  .benefits .benefits_wrap {
    display: flex;
    justify-content: center;
    gap: 94px;
  }
  .benefits .benefits_desc {
    font-size: 16px;
    font-weight: 400;
    margin: 130px 0 51px;
    line-height: 1.5;
    text-align: center;
  }
  .benefits .img_area {
    width: 430px;
    height: 430px;
    background-color: #FAF7F1;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
  }
  .benefits .list_wrap:nth-of-type(1) .img_area::after {
    content: "Traning And Career";
    writing-mode: vertical-rl;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    top: 9%;
    right: 4%;
  }
  .benefits .benefits_img1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 327px;
  }
  .benefits .arrow_button {
    width: 58px;
    height: 58px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 17%;
    right: 5%;
  }
  .benefits .button_arrow {
    display: flex;
    margin: 0 auto;
  }
  .benefits .benefits_img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 344px;
  }
  .benefits .list_wrap:nth-of-type(2) .img_area::after {
    content: "employee benefits";
    writing-mode: vertical-rl;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    top: 9%;
    right: 4%;
  }
  .benefits .arrow_button {
    width: 58px;
    height: 58px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 17%;
    right: 5%;
  }
  .benefits .list_wrap:nth-of-type(2) .arrow_button {
    bottom: 19%;
    right: 3%;
  }
  .benefits .subtitle_area {
    width: 366px;
    height: 46px;
    background-color: #AFA86F;
    display: flex;
    margin: 0 auto;
  }
  .benefits .list_wrap:nth-of-type(1) .subtitle_area {
    position: absolute;
    bottom: 0;
    right: 35px;
  }
  .benefits .list_wrap:nth-of-type(2) .subtitle_area {
    width: 142px;
    height: 46px;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .benefits .subtitle_txt {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 7px;
  }
  .benefits .sub_desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 21px 0 36px;
  }
  .contener {
    background-color: #FAF7F1;
  }
  .blog .blog_inner {
    padding: 0 242px;
    position: relative;
  }
  .blog .section_title {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 43px;
    padding-top: 78px;
    position: relative;
  }
  .blog .section_title::after {
    content: "BLOG";
    position: absolute;
    top: 27px;
    left: -49px;
    font-size: 136px;
    font-weight: 400;
    color: rgba(151, 151, 151, 0.1);
  }
  .blog .blog_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .blog .blog_txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 43px;
    width: 320px;
  }
  .blog .blog_item {
    display: flex;
    margin-bottom: 9px;
    width: 452px;
    height: 180px;
  }
  .blog .blog_item:last-child {
    margin-bottom: 52px;
  }
  .blog .txt_area {
    padding: 9px 18px 5px;
    background-color: #FFFFFF;
    border-radius: 0 10px 10px 0;
  }
  .blog .memo_wrap {
    display: flex;
    margin-bottom: 9px;
  }
  .blog .memo_txt {
    font-size: 14px;
    font-weight: 400;
    margin-left: 4px;
  }
  .blog .item_txt {
    font-size: 12px;
    font-weight: 400;
  }
  .blog .blog_item .item_txt:nth-of-type(1) {
    font-size: 18px;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 32px;
  }
  .blog .item_txt span {
    border-bottom: 1px solid;
  }
  .blog .blog_img {
    width: 156px;
  }
  .blog .blog_button {
    position: absolute;
    top: 84px;
    right: 262px;
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 66px;
  }
  .blog .button {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid;
  }
  .blog .button_txt {
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid;
  }
  .carrer .carrer_inner {
    padding: 125px 242px 139px;
  }
  .carrer .section_title {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 43px;
    position: relative;
    text-align: center;
  }
  .carrer .section_title::after {
    content: "RECRUITMENT";
    position: absolute;
    top: -50px;
    left: 27px;
    font-size: 136px;
    font-weight: 400;
    color: rgba(151, 151, 151, 0.1);
  }
  .carrer .carrer_txt {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0 63px;
    text-align: center;
  }
  .carrer .button_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 956px;
    margin: 0 auto;
  }
  .carrer .carrer_button {
    width: 470px;
    height: 120px;
    margin-bottom: 20px;
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
  }
  .carrer .carrer_button:last-child {
    margin-bottom: 0;
    width: 956px;
  }
  .carrer .button_txt {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .carrer .button_arrow {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-17px, 50px);
  }
  footer {
    background-color: #FAF7F1;
  }
  footer .footer_img {
    background: url(./img/footer_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 511px;
    width: 100%;
    background-position: center;
  }
  footer .footer_txtArea {
    position: absolute;
    background-color: #FFFFFF;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 956px;
    height: 273px;
    padding: 50px 200px;
  }
  footer .footer_txt {
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 31px;
    text-align: center;
  }
  footer .footer_button {
    width: 556px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #AFA86F;
  }
  footer .button_txt {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  footer .button_arrow {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-17px, 19px);
  }
  footer .footer_nav {
    display: flex;
  }
  footer .footer_list {
    margin: 169px 110px 55px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 40px;
    width: 577px;
    list-style: none;
    padding: 0;
    order: 1 !important;
  }
  footer .footer_item {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  footer .footer_item:last-child {
    margin-bottom: 0;
  }
  footer .logo_wrap {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  footer .footer_logo {
    background: url(./img/footer_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 61px;
    margin: 29px auto 49px;
    order: 2 !important;
  }
  footer .copy {
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    padding-bottom: 24px;
  }
}/*# sourceMappingURL=style.css.map */